<h1>Stock Market Rials</h1>
<hr /><br />
<%= form_tag root_path, :method => 'POST' do %>
    <%= text_field_tag 'ticker', nil, placeholder: "
        Enter Ticker Symbol", size: 50 %>
    <%= submit_tag 'Lookup' %>
<% end %>

<br />



<% stock = StockQuote::Stock.quote("fb") %>

<%= stock.company_name %> | <%= stock.latest_price %>
